<% ['/wymeditor/jquery/jquery',
	'/wymeditor/wymeditor/jquery.wymeditor.js', 
	'/wymeditor/wymeditor/jquery.wymeditor.explorer.js', 
	'/wymeditor/wymeditor/jquery.wymeditor.mozilla.js', 
	'/wymeditor/wymeditor/jquery.opera.js',
	'/wymeditor/wymeditor/jquery.safari.js',
	'/wymeditor/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools.js', 
	'/wymeditor/wymeditor/plugins/tidy/jquery.wymeditor.tidy.js',
	'/wymeditor/wymeditor/xhtml_parser.js', '/javascripts/radiant.wymeditor.js'].each {|script| @javascripts << script} %>
<% @stylesheets << '/wymeditor/wymeditor/skins/default/screen.css' %>