<%
  ['/wymeditor/jquery/jquery.js',
   '/wymeditor/wymeditor/jquery.wymeditor.js',
   '/wymeditor/jquery/jquery.blockUI.js',
   '/javascripts/extensions/wym_editor_filter/radiant.wymeditor.js'].each {|script| @javascripts << script}
%>